<!DOCTYPE html>
<html>
  <head>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <script src='angular.min.js'></script>
    <script src='jquery-2.1.0.min.js'></script>
    <script src='underscore-min.js'></script>
    <script src='example_controller.js'></script>
    <script src='json_func_directive.js'></script>
    <link href='bootstrap.min.css' rel='stylesheet'>
  </head>
  <body ng-app='exampleApp'>
    <div ng-controller='ExampleController'>
      <script id='lookup.html' type='text/ng-template'>
        <select class='form-control' ng-model='arg.value' ng-options='raw_column as raw_column for raw_column in raw_data_columns'></select>
      </script>
      <script id='str.html' type='text/ng-template'>
        <input class='form-control' ng-model='arg.value'>
      </script>
      <script id='hash.html' type='text/ng-template'>
        <div ng-init='arg.keys = arg.keys || [""]'></div>
        <div ng-init='arg.values = arg.values || [""]'></div>
        <div class='form-inline text-center' ng-repeat='key in arg.keys track by $index'>
          <input class='form-control' ng-change='remove_blanks_from_hash(arg)' ng-model='arg.keys[$index]' style='width: 45%'>
          <span>
            :
          </span>
          <input class='form-control' ng-model='arg.values[$index]' style='width: 45%'>
        </div>
      </script>
      <script id='list_str.html' type='text/ng-template'>
        <div ng-init="arg.values = arg.keys || ['']"></div>
        <div ng-repeat='val in arg.values track by $index'>
          <input class='form-control' ng-change='arg.values = remove_blanks(arg.values)' ng-model='arg.values[$index]'>
        </div>
      </script>
      <script id='list_lookup.html' type='text/ng-template'>
        <select class='form-control' multiple='true' ng-model='arg.values' ng-options='raw_column as raw_column for raw_column in raw_data_columns'></select>
      </script>
      <div class='container'>
        <div ng-repeat='column in target_columns'>
          <div class='row'>
            <div class='col-md-1'>
              {{column.name}}
            </div>
            <div class='col-md-1'>
              <button class='btn' ng-click='column_to_edit = (column_to_edit === column ? nil : column)'>
                edit
              </button>
            </div>
            <div class='col-md-10'>
              <input class='form-control' readonly value='{{column.selected_func || column.persisted_func}}'>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-offset-2 col-md-10' ng-if='column_to_edit===column'>
              <json_func_builder column='column' valid-functions='valid_functions' raw-data-columns='raw_data_columns'></json_func_builder>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
